*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

#first-section {
width: 100%;
}

.nav-bar{
width: 80%;
margin: auto;
padding-top: 20px;
padding-bottom: 20px;
display: flex;
align-items: center;
justify-content: space-between;
}

.link {
list-style: none;
display: flex;

}

.link a {
text-decoration: none;
color: #1E1B1B;
font-size: 25px;
font-weight: 600;
}

.link li {
padding-right: 30px;
}
/* .link-flex{
display: flex;
align-items: center;
} */
.phone-link{
display: flex;
border-left: 4px solid red;
}

.assistance {
display: flex;
border-left: 3px solid green;
padding-left: 25px;
}

.link-flex{
display: flex;
align-items: center;
}

header {
display: flex;
justify-content: space-between;
width: 80%;
margin: auto;

}